<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>阿甲商城后台主页</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="stylesheet" href="../static/css/font.css">
        <link rel="stylesheet" href="../static/css/xadmin.css">
        <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
        <script src="../static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="../static/js/xadmin.js"></script>
        <script src="../static/js/jquery-3.1.1.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script>
            // 是否开启刷新记忆tab功能
            // var is_remember = false;
        </script>
    </head>
    <style type="text/css">
        table{font-size: 14px;color: #5a5a5a; width: 100%;table-layout: fixed;}
        table thead tr th{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
        table thead tr th:first-child{width:10%;}
        table tbody tr td>div{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
    </style>

    <body class="index">
        <!-- 顶部开始 -->
        <div class="container">
            <div class="logo">
                <a href="./index.html">阿甲商城后台主页</a></div>
            <div class="left_open">
                <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
            </div>

            <ul class="layui-nav right" lay-filter="">
                <li class="layui-nav-item">
                    <a href="javascript:;"><span th:text='${session.name}'></span></a>
                    <dl class="layui-nav-child">
                        <!-- 二级菜单 -->
<!--                        <dd>-->
<!--                            <a onclick="xadmin.open('个人信息','http://www.baidu.com')">个人信息</a></dd>-->
                        <dd>
                            <a href="/user/login">退出</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item to-index">
                    <a href="/">前台首页</a></li>
            </ul>
        </div>
        <!-- 顶部结束 -->
        <!-- 中部开始 -->
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav">
<!--                    会员管理-->
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="会员管理">&#xe6b8;</i>
                            <cite>会员管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('会员列表(静态表格)','member-list.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>会员列表</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('会员删除','member-del.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>会员删除</cite></a>
                            </li>

                        </ul>
                    </li>
<!--                    订单管理-->
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="订单管理">&#xe723;</i>
                            <cite>订单管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('订单列表','order-list.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>订单列表</cite></a>
                            </li>
                        </ul>
                    </li>
<!--                    商品管理-->
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="商品管理">&#xe723;</i>
                            <cite>商品信息管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a id="goodsInfoMan" onclick="goodsInfoMan()">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>商品信息管理</cite></a>
                            </li>
                            <li>
                                <a id="goodsNumMan" onclick="goodsNumMan()">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>商品数量管理</cite></a>
                            </li>
                        </ul>
                    </li>


                </ul>
            </div>
        </div>
        <!-- <div class="x-slide_left"></div> -->
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content"  id="page-content">

        </div>
        <div class="page-content-bg"></div>
        <style id="theme_style"></style>
        <!-- 右侧主体结束 -->
        <!-- 中部结束 -->
        <!--            商品信息管理-->
        <!--目前编辑删除增加还没实现-->
        <script>

         function goodsInfoMan() {
             $("#page-content").empty();
             $.ajax({
                 type: "post",
                 url:"/goods/listAll",
                 data:{},
                 async: false,
                 success:function (data) {
                     // str ="<table border='1'><tr><td>商品图片</td><td>商品编号</td><td>商品名称</td><td>商品类型</td><td>商品价格</td><td>商品描述</td><td>修改</td></tr>";
                     str = "<div class='layui-card-body layui-table-body layui-table-main'>" +
                         "                            <table class='layui-table layui-form'>" +
                         "                                <thead>" +
                         "                                  <tr>" +
                         "                                    <th>商品编号</th>" +
                         "                                    <th>商品名称</th>" +
                         "                                    <th>商品类型</th>" +
                         "                                    <th>商品价格</th>" +
                         "                                    <th>商品描述</th>" +
                         "                                    <th>操作</th></tr>" +
                         "                                </thead>" +
                         "                                <tbody>"
                     $.each(data,function(index,element){
                         sessionStorage.setItem("id",element['goodsid']);
                         // str +="<tr><td><img src="+element['goodsimagename']+"></td><td>"+element['goodsid']+"</td><td>"+element['goodsname']+"</td><td>"+element['goodstypeid']+"</td><td>"+element['goodsunitprice']+"</td><td>"+element['goodsdescript']+"</td><td><a href=''>点击修改</a> </td></tr>";
                         str +="<tr>" +
                             "                                    <td>"+element['goodsid']+"</td>" +
                             "                                    <td>"+element['goodsname']+"</td>" +
                             "                                    <td>"+element['goodstypeid']+"</td>" +
                             "                                    <td>"+element['goodsunitprice']+"</td>" +
                             "                                    <td>"+element['goodsdescript']+"</td>" +
                             "                                    <td class='td-manage'>" +
                             "                                      <a title='编辑'  onclick='editGoods(element['goodsid'])'>" +
                             "                                        <i class='layui-icon'>&#xe642;</i>" +
                             "                                      </a>" +
                             "                                      <a title='删除' onclick='member_del(this,'要删除的id')' href='javascript:;'>" +
                             "                                        <i class='layui-icon'>&#xe640;</i>" +
                             "                                      </a>" +
                             "                                    </td>" +
                             "                                  </tr>";
                     })
                     str +="</tbody></table>"
                     $("#page-content").append(str);


                 }
             })
         }
         function editGoods(id) {
             window.location.href="/user/changeGoods";
             axios.post('/goods/update', { id })
             .then(res => {
                 console.log(res);
             })
             .catch(err => Promise.reject(err));
         }
        </script>
    <script>
<!--        商品数量管理-->
        function goodsNumMan() {
            $("#page-content").innerHTML ="";
            $.ajax({
                    type: "post",
                    url:"/goods/listAll",
                    data:{},
                    async: false,
                    success:function (data) {
                        str = "<div class='layui-card-body layui-table-body layui-table-main'>" +
                            "                            <table class='layui-table layui-form'>" +
                            "                                <thead>" +
                            "                                  <tr>" +
                            "                                    <th>商品编号</th>" +
                            "                                    <th>商品名称</th>" +
                            "                                    <th>商品数量</th>" +
                            "                                    <th>操作</th></tr>" +
                            "                                </thead>" +
                            "                                <tbody>"
                        $.each(data,function (index,element) {
                            str +="<tr>" +
                                "                                    <td>"+element['goodsid']+"</td>" +
                                "                                    <td>"+element['goodsname']+"</td>" +
                                "                                    <td>"+element['sellcount']+"</td>" +
                                "                                    <td class='td-manage'>" +
                                "                                      <a title='修改数量'  href='javascript:;' onclick='changeNum()'>" +
                                "                                        <i class='layui-icon'>&#xe642;</i>" +
                                "                                      </a>" +
                                "                                    </td>" +
                                "                                  </tr>";
                        })
                        str +="</tbody></table>"
                        // $("#page-content").innerHTML ="";
                        $("#page-content").append(str);
                    }
                })
        }
        function changeNum() {
    window.location.href="/user/changeNum";
        }
    </script>

    </body>

</html>