<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的信息</title>
    <style type="text/css">

        table

        {

            border-collapse: collapse;

            margin: 0 auto;

            text-align: center;

        }

        table td, table th

        {

            border: 1px solid #cad9ea;

            color: #666;

            height: 30px;

        }

        table thead th

        {

            background-color: #CCE8EB;

            width: 100px;

        }

        table tr:nth-child(odd)

        {

            background: #fff;

        }

        table tr:nth-child(even)

        {

            background: #F5FAFA;

        }

    </style>
    <link href="../static/css/header.css" rel="Stylesheet"/>
    <link rel="stylesheet" href="../static/css/footer.css"/>
</head>
<body>
<header id="top">
    <div id="logo" class="lf">
        <img src="../static/images/header/logo.png" alt="logo"/>
    </div>
    <form action="/goods/search" method="post">
        <div id="top_input" class="lf">
            <input id="input" type="text" placeholder="请输入您要搜索的内容" name="input"/>
            <div class="seek" tabindex="-1">
                <div class="actived" ></div>
                <!--            <div class="seek_content" >-->
                <!--                <div id="shcy" >生活餐饮</div>-->
                <!--                <div id="xxyp" >学习用品</div>-->
                <!--                <div id="srdz" >私人订制</div>-->
                <!--            </div>-->
            </div>
            <a type="submit" class="rt"><img id="search" src="../static/images/header/search.png" alt="搜索"/></a>
        </div>
    </form>
    <div class="rt">
        <ul class="lf">
            <!--            <li><a href="myCollect.html" title="我的收藏"><img class="care" src="../static/images/header/care.png" alt=""/></a><b>|</b></li>-->
            <!--            <li><a href="myOrder.html" title="我的订单"><img class="order" src="../static/images/header/order.png" alt=""/></a><b>|</b></li>-->
            <!--            <li><a href="cart.html" title="我的购物车"><img class="shopcar" src="../static/images/header/shop_car.png" alt=""/></a><b>|</b></li>-->
            <!--            <li><a href="lookforward.html">帮助</a><b>|</b></li>-->
            <li><span id="islogin" onclick="show()" th:text='${session.name}'></span></li>
            <li style="display: none" class="ishidden"><a href="/user/myInfo">我的信息</a></li>
            <li style="display: none" class="ishidden"><a href="/address/">收货地址</a></li>
            <!--            订单未完成-->
            <li style="display: none" class="ishidden"><a href="/user/order">我的订单</a></li>
            <li style="display: none" class="ishidden"><a href="/order/toCartPage">购物车</a></li>
            <li style="display: none" class="ishidden"><a href="/user/login" onclick="loginout()">登出</a></li>
            <!--            <span id=value></span>-->
            <!--            <p th:text='${session.name}'></p>-->


        </ul>
    </div>
</header>
<h1>我的信息管理：</h1>
<br>
<hr>
<br>
<table border="1px soild" th:each="info : ${myInfo}">
    <tr>
        <td width="100px">用户名:</td>
        <td th:text="${info.customername}" width="250px"></td>
    </tr>
    <tr>
        <td width="100px">密码:</td>
        <td id="pwd" style="display: none" th:text="${info.customerpass}" width="250px"></td>
        <td id="pwdhidden" style="display: block"><span onclick="show()" width="250px">点击显示</span></td>
    </tr>
    <tr>
        <td width="100px">电话:</td>
        <td th:text="${info.customertel}" width="150px"></td>
        <td width="100px"><a href="/user/changeTelPage" onclick="showInput()">
            修改电话</a></td>

    </tr>

</table>



<!-- 品质保障，私人定制等-->
<div id="foot_box">
    <div class="icon1 lf">
        <img src="../static/images/footer/icon1.png" alt=""/>
        <h3>品质保障</h3>
    </div>
    <div class="icon2 lf">
        <img src="../static/images/footer/icon2.png" alt=""/>
        <h3>私人定制</h3>
    </div>
    <div class="icon3 lf">
        <img src="../static/images/footer/icon3.png" alt=""/>
        <h3>学员特供</h3>
    </div>
    <div class="icon4 lf">
        <img src="../static/images/footer/icon4.png" alt=""/>
        <h3>专属特权</h3>
    </div>
</div>
<!-- 页面底部-->
<div class="foot_bj">
    <div id="foot">
        <div class="lf">
            <p class="footer1"><img src="../static/images/footer/logo.png" alt="" class=" footLogo"/></p>
            <p class="footer2"><img src="../static/images/footer/footerFont.png" alt=""/></p>

        </div>
        <div class="foot_left lf" >
            <ul>
                <li><a href="#"><h3>买家帮助</h3></a></li>
                <li><a href="#">新手指南</a></li>
                <li><a href="#">服务保障</a></li>
                <li><a href="#">常见问题</a></li>
            </ul>
            <ul>
                <li><a href="#"><h3>商家帮助</h3></a></li>
                <li><a href="#">商家入驻</a></li>
                <li><a href="#">商家后台</a></li>
            </ul>
            <ul>
                <li><a href="#"><h3>关于我们</h3></a></li>
                <li><a href="#">关于阿甲</a></li>
                <li><a href="#">联系我们</a></li>
                <li>
                    <img src="../static/images/footer/wechat.png" alt=""/>
                    <img src="../static/images/footer/sinablog.png" alt=""/>
                </li>
            </ul>
        </div>
        <div class="service">
            <p>阿甲商城客户端</p>
            <img src="../static/images/footer/ios.png" class="lf">
            <img src="../static/images/footer/android.png" alt="" class="lf"/>
        </div>
        <div class="download">
            <img src="../static/images/footer/erweima.png">
        </div>
        <!-- 页面底部-备案号 #footer -->
        <div class="record">
            &copy;2017 阿甲集团有限公司 版权所有 京ICP证xxxxxxxxxxx
        </div>
    </div>
</div>
</body>
<script src="../static/js/jquery-3.1.1.min.js"></script>
<script>
function  show() {
    var showPwd = document.getElementById("pwd");
    var hiddenPwd = document.getElementById("pwdhidden");
    showPwd.style.display = 'block';
    hiddenPwd.style.display = 'none';
}

</script>
</html>