<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title>商品搜索页面</title>
<link rel="stylesheet" href="../static/css/header.css" />
<link rel="stylesheet" href="../static/css/search.css" />
<link rel="stylesheet" href="../static/css/footer.css" />
</head>
<!-- 页面顶部-->
<header id="top">
    <div id="logo" class="lf">
        <img class="animated jello" src="../static/images/header/logo.png" alt="logo"/>
    </div>
<!--    <div id="top_input" class="lf">-->
<!--        <input id="input" type="text" placeholder="请输入您要搜索的内容"/>-->
<!--        <div class="seek" tabindex="-1">-->
<!--            <div class="actived" ><span>分类搜索</span> <img src="../static/images/header/header_normal.png" alt=""/></div>-->
<!--            <div class="seek_content" >-->
<!--                <div id="shcy" >生活餐饮</div>-->
<!--                <div id="xxyp" >学习用品</div>-->
<!--                <div id="srdz" >私人订制</div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <a href="" class="rt"><img id="search" src="../static/images/header/search.png" alt="搜索"/></a>-->
<!--    </div>-->
<!--    <div class="rt">-->
<!--        <ul class="lf">-->
<!--            <li><a href="myCollect.html" title="我的收藏"><img class="care" src="../static/images/header/care.png" alt=""/></a><b>|</b></li>-->
<!--            <li><a href="myOrder.html" title="我的订单"><img class="order" src="../static/images/header/order.png" alt=""/></a><b>|</b></li>-->
<!--            <li><a href="cart.html" title="我的购物车"><img class="shopcar" src="../static/images/header/shop_car.png" alt=""/></a><b>|</b></li>-->
<!--            <li><a href="lookforward.html">帮助</a><b>|</b></li>-->
<!--            <li><a href="login.html">登录</a></li>-->
<!--        </ul>-->
<!--    </div>-->
</header>
<!-- nav主导航-->
<!--<nav id="nav">-->
<!--    <ul>-->
<!--        <li><a href="index.html">首页</a></li>-->
<!--        <li><a href="item_food.html">生活餐饮</a></li>-->
<!--        <li><a href="itemCat.html">学习用品</a></li>-->
<!--        <li><a href="lookforward.html">私人定制</a></li>-->
<!--    </ul>-->
<!--</nav>-->
<body>
	<div class="big">
		<form name="" action="" method="post">
			<section id="section">
				<p class="header">学习用品>笔记本</p>
				<div id="content_box"></div>

			</section>
		</form>
	</div>
	<!-- 尾部-->
	<!-- 页面底部-->
<div class="foot_bj">
    <div id="foot">
        <div class="lf">
            <p class="footer1"><img src="../static/images/footer/logo.png" alt="" class=" footLogo"/></p>
            <p class="footer2"><img src="../static/images/footer/footerFont.png" alt=""/></p>
        </div>
        <div class="foot_left lf" >
            <ul>
                <li><a href="#"><h3>买家帮助</h3></a></li>
                <li><a href="#">新手指南</a></li>
                <li><a href="#">服务保障</a></li>
                <li><a href="#">常见问题</a></li>
            </ul>
            <ul>
                <li><a href="#"><h3>商家帮助</h3></a></li>
                <li><a href="#">商家入驻</a></li>
                <li><a href="#">商家后台</a></li>
            </ul>
            <ul>
                <li><a href="#"><h3>关于我们</h3></a></li>
                <li><a href="#">关于阿甲</a></li>
                <li><a href="#">联系我们</a></li>
                <li>
                    <img src="../static/images/footer/wechat.png" alt=""/>
                    <img src="../static/images/footer/sinablog.png" alt=""/>
                </li>
            </ul>
        </div>
        <div class="service">
            <p>阿甲商城客户端</p>
            <img src="../static/images/footer/ios.png" class="lf">
            <img src="../static/images/footer/android.png" alt="" class="lf"/>
        </div>
        <div class="download">
            <img src="../static/images/footer/erweima.png">
        </div>
		<!-- 页面底部-备案号 #footer -->
        <div class="record">
            &copy;2017 阿甲集团有限公司 版权所有 京ICP证xxxxxxxxxxx
        </div>
    </div>
</div>
<div class="modal" style="display:none">
    <div class="modal_dialog">
        <div class="modal_header">
            操作提醒
        </div>
        <div class="modal_information">
            <img src="../static/images/model/model_img2.png" alt=""/>
            <span>将您的宝贝加入购物车？</span>

        </div>
        <div class="yes"><span>确定</span></div>
        <div class="no"><span>取消</span></div>
    </div>
</div>
	<script src="../static/js/jquery-3.1.1.min.js"></script>
	<script src="../static/js/index.js"></script>
	<script src="../static/js/jquery.page.js"></script>
<script>
    var search = localStorage.getItem("searchData");
	$.ajax({
		type: "POST",
		url:"/goods/search?search="+search,
		data:{},
		success: function (data) {
		    console.log(data);
			var str = "";
			$.each(data,function (index,element) {
				str += "<div class='lf' id='d1'>" +
						"<div class='img'>" +
						"<img src='"+element['goodsimagename']+"' alt='' onclick='toItemInfo(${item.id})' />" +
						"</div>" +
						"<div class='describe'>" +
						"<p onclick='toItemInfo(${item.id})'>"+element['goodsname']+"</p>" +
						"<span class='price'><b>￥</b><span class='priceContent'>"+element['goodsunitprice']+"</span></span>" +
						"</div>" +
						"</div>"
			});
			// str += "</div>"
			$("#content_box").append(str);
		},
        error: function (xhr, textStatus, errorThrown) {
            /*错误信息处理*/
            alert("进入error---");
            alert("状态码："+xhr.status);
            alert("状态:"+xhr.readyState);//当前状态,0-未初始化，1-正在载入，2-已经载入，3-数据进行交互，4-完成。
            alert("错误信息:"+xhr.statusText );
            alert("返回响应信息："+xhr.responseText );//这里是详细的信息
            alert("请求状态："+textStatus);
            alert(errorThrown);
            alert("请求失败");
        }
	})
</script>
</body>
</html>