<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>阿甲商城后台</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="../../static/css/font.css">
        <link rel="stylesheet" href="../../static/css/xadmin.css">
        <script type="text/javascript" src="../../static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="../../static/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]--></head>
    
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form" id="form1" onsubmit="return false" method="post" action="##">

                    <div class="layui-form-item">
                        <label  class="layui-form-label">
                            <span class="x-red">*</span>商品名称
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="goodsName" name="goodsName" required="" lay-verify="required"
                                   autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>将会成为该商品唯一的名称
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>类型id
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="goodstypeid" name="goodstypeid" required="" lay-verify="goodstypeid"
                                   autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>选择其类型
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>商品描述
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="goodsdescript" name="goodsdescript" required=""
                                   autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>商品价格
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="goodsunitprice" name="goodsunitprice" required=""
                                   autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>商品图片路径
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="goodsimagename" name="goodsimagename" required=""
                                   autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>格式请输入相对路径如：../static/images/search/product_img1.png
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <input class="layui-btn" type="button" onclick="submitdata()"  value="修改">
                    </div>
                </form>
            </div>
        </div>
<script>
    function submitdata() {
        var id = sessionStorage.getItem("id");
        var data = $('#form1').serialize();
        data += "&id="+id;
        // $.ajax({
        //     type: "post",
        //     url:"/goods/update",
        //     data:{"id":id},
        //     success:function (data) {
        //
        //     }
        // })

        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            // dataType: "json",//预期服务器返回的数据类型
            url: "/goods/update" ,//url
            data: data,
            success: function (result) {
                // console.log(result);//打印服务端返回的数据(调试用)
                // if (result.resultCode == 200) {
                //     alert("SUCCESS");
                // }
                // ;
            },
            //以下为调试用
            // error: function (xhr, textStatus, errorThrown) {
            //     /*错误信息处理*/
            //     alert("进入error---");
            //     alert("状态码："+xhr.status);
            //     alert("状态:"+xhr.readyState);//当前状态,0-未初始化，1-正在载入，2-已经载入，3-数据进行交互，4-完成。
            //     alert("错误信息:"+xhr.statusText );
            //     alert("返回响应信息："+xhr.responseText );//这里是详细的信息
            //     alert("请求状态："+textStatus);
            //     alert(errorThrown);
            //     alert("请求失败");
            // }
        });
        window.location.href = "/goods/manGoods";
    }
</script>
    </body>

</html>